{% extends "base.html" %}

{% block title %}Pets list{% endblock title %}

{% block content %}

<br>
<div class="row">
    {% for pet in pets %}
    <div class="col-md-4">
        <div class="card my-card">
          {% if pet.available == True %}
            <img class="card-img-top" src= "{{pet.image.url}}" >
            
              <div class="card-body">
              <h5 class="card-title"> Name :{{pet.name}}</h5>

              </div>
         
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center">
                  <a href="{% url 'pet-detail' pet.id %}" class="btn btn-outline-dark">View more</a>
              </li>
            </ul>
          {% endif %}
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}